{% extends 'LWVUserBundle:Dashboard:index.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            {% form_theme form 'LWVUserBundle:Form:fields.html.twig' %}

            <form action="{{ path('update_password') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
                <fieldset>
                    <legend>Change Your Password</legend>
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.confirmPassword) }}
                </fieldset>
                <fieldset>
                    <div class="actions">
                        {{ form_rest(form) }}
                        <input class="btn-primary" type="submit" value="Update" />
                        <input class="btn-warning" type="reset" value="Reset">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}