<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}LWV Toolkit{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block styelsheets %}
            {% stylesheets
                '@LWVUserBundle/Resources/public/css/*'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row login-box">
                <div class="span8">
                    <h1>LWV Toolkit</h1>
                    <p>Welcome to the LWV Toolkit.</p>
                    <p>Please use the login form opposite to access your account and start ordering POS today!</p>
                </div>
                <div class="span8 login-form">
                    
                    {% if error %}
                        <div class="alert-message error" data-alert="alert">
                            <a href="#" class="close">×</a>
                            {{ error.message|trans }}
                        </div>
                    {% endif %}

                    <form action="{{ path('login_check') }}" method="post">
                        <fieldset>
                            <legend>Login</legend>
                            <div class="clearfix">
                                <label for="username">Username:</label>
                                <div class="input">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="password">Password:</label>
                                <div class="input">
                                    <input type="password" id="password" name="_password" required="required"/>
                                    <span class="help-block">Forgotten your <a href="">username</a> or <a href="">password</a>?</span>
                                </div>
                            </div>
                            
                            <div class="clearfix">
                                <label for="remember_me">Remember me?</label>
                                <div class="input">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                </div>
                            </div>

                            {#
                                If you want to control the URL the user is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}
                            <div class="actions">
                                <input class="btn primary" type="submit" name="login" value="Login" />
                                <button class="btn" type="reset">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                    
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span16">
                        <p>Copyright &copy; 2012 LWV Printworks</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts
                '@LWVUserBundle/Resources/public/js/jquery-1.7.1.min.js'
                '@LWVUserBundle/Resources/public/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            <script type="text/javascript">
            $(document).ready(function(){
                $(".alert-message").alert()
            });
            </script>
            
        {% endblock %}
    </body>
</html>